@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #e8e8f0;
  min-height: 100%;
}

.nav-container {
  background-color: #0e1620;
  padding: 0.5em;
}

.nav-container .nav-items {
  display: none;
}

.nav-container .nav-items ul {
  position: fixed;
  background-color: #0e1620;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  list-style-type: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  margin: 0;
}

.nav-container .nav-items ul a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav-container .nav-items ul a:hover {
  color: #6bd8d1;
}

.nav-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .cross-icon {
  display: block;
  margin-left: auto;
  margin-bottom: 5em;
  cursor: pointer;
}

.nav-container .menu-icon {
  display: block;
  margin-right: 0.8em;
}

.nav-container .menu-icon:hover {
  cursor: pointer;
}

.nav-container .logo:hover {
  cursor: pointer;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.5))), url("/static/photos/hero-mob-2.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("/static/photos/hero-mob-2.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin: 0;
  font-size: 3.1rem;
  letter-spacing: 0.1em;
}

.hero h1 span {
  display: block;
  color: #1abdb3;
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: 0.8em;
  margin-top: -0.2em;
}

.hero .hero-container {
  color: white;
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  text-transform: uppercase;
}

.hero .hero-down {
  margin-top: 28em;
}

.hero .hero-down p {
  color: #e8e8f0;
  letter-spacing: 0.09rem;
  margin-bottom: 0.5em;
}

.hero .chevron-down img {
  margin-bottom: 0.5em;
}

.grid-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7em auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5em;
}

.grid-container .thumb {
  margin: 0;
  width: 100%;
}

footer {
  background: #0e1620;
  text-align: center;
  color: white;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-top: 0.8em;
  margin-bottom: 1em;
}

footer .footer-top h2 {
  font-weight: normal;
  padding-top: 0.09em;
  margin: 0;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

footer .footer-top h3 {
  padding-left: 0.5em;
  font-weight: bold;
  margin: 0;
  color: #6bd8d1;
  letter-spacing: 0.05em;
  font-size: 1.1rem;
}

footer .footer-bottom {
  background-color: black;
  padding-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

footer .footer-bottom h4 {
  margin: 0;
  font-weight: normal;
  font-size: 0.6rem;
  letter-spacing: 0.15em;
}

footer .footer-bottom .arrow-top {
  margin-left: 0.5em;
}

footer .footer-bottom .arrow-top img {
  padding-bottom: 0.4em;
}

.about-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about-container h1 {
  padding: 0;
  margin: 0;
  margin: 1em auto 0.5em auto;
  font-size: x-large;
}

.about-container .about-content img {
  margin-top: 1em;
}

.about-container .about-content p {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: justify;
}

.contact-container .contact-form input[type="email"],
.contact-container .contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
  margin-bottom: 1em;
  font-family: Poppins, sans-serif;
}

.contact-container .contact-form .row {
  display: block;
  margin: 0 auto;
}

.contact-container .contact-form .row .col-25 {
  text-align: left;
}

.contact-container .contact-form button {
  background-color: #0e1620;
  color: #e8e8f0;
  border-radius: 10px;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 01rem;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  margin-bottom: 3em;
}

.contact-container .contact-form button:hover {
  background-color: #6bd8d1;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e1620;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6bd8d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6bd8d1c5;
}

@media only screen and (min-width: 900px) {
  .nav-bar {
    width: 80%;
    margin: 0 auto;
  }
  .nav-bar .menu-icon {
    display: none;
  }
  .nav-bar .cross-icon {
    display: none;
  }
  .nav-bar .nav-items {
    display: block;
  }
  .nav-bar .nav-items ul {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    background: none;
    text-align: right;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .nav-bar .nav-items ul li {
    float: left;
  }
  .nav-bar .nav-items ul li a {
    margin: 0 1.5em;
    padding: 0;
    font-size: 1.1rem;
  }
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/static/photos/hero-bg.png") no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/photos/hero-bg.png") no-repeat;
    background-size: cover;
    background-position: 0% 40%;
  }
  .hero .hero-container {
    width: 80%;
    margin: 0 auto;
  }
  .hero .hero-container .hero-left {
    text-align: left;
  }
  .hero .hero-container .hero-left h1 {
    font-size: 4rem;
  }
  .hero .hero-container .hero-left h1 span {
    font-size: 1.3rem;
    letter-spacing: 1.2rem;
  }
  .about-container {
    text-align: left;
  }
  .about-container h1 {
    font-size: xx-large;
    margin-top: 3em;
  }
  .about-container .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-container .about-content img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .about-container .about-content p {
    margin: 0%;
    padding-right: 4em;
  }
  .about-container .col-25 {
    width: 25%;
    float: left;
  }
  .about-container .col-75 {
    width: 75%;
    float: left;
  }
  .about-container .contact-container input[type="email"] {
    width: 220px;
    font-family: Poppins;
  }
  .about-container .contact-container textarea {
    height: 200px;
    font-family: Poppins;
    width: 570px;
  }
  .about-container .contact-container button {
    width: 200px;
    margin: 0;
  }
  .about-container .contact-container p {
    margin-bottom: 4em;
  }
  .about-container .contact-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media only screen and (min-width: 1700px) {
  .nav-bar {
    width: 65%;
  }
  .hero .hero-container {
    width: 65%;
    margin: 0 auto;
  }
  .grid-container {
    width: 65%;
  }
  .about-container {
    width: 65%;
  }
}
/*# sourceMappingURL=styles.css.map */