@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: #e8e8f0;
}

.nav-container {
  background-color: #0e1620;
  padding: 0.5em;
}

.nav-container .nav-items {
  display: none;
}

.nav-container .nav-items ul {
  position: fixed;
  background-color: #0e1620;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  list-style-type: none;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  margin: 0;
}

.nav-container .nav-items ul a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

.nav-container .nav-items ul a:hover {
  font-weight: bold;
}

.nav-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .cross-icon {
  display: block;
  margin-left: auto;
  margin-bottom: 5em;
  cursor: pointer;
}

.nav-container .menu-icon {
  display: block;
  margin-right: 0.8em;
}

.nav-container .menu-icon:hover {
  cursor: pointer;
}

.nav-container .logo:hover {
  cursor: pointer;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.5))), url("/static/photos/hero-mob-2.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("/static/photos/hero-mob-2.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin: 0;
  font-size: 3.1rem;
  letter-spacing: 0.1em;
}

.hero h1 span {
  display: block;
  color: #1abdb3;
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: 0.7em;
  margin-top: -0.2em;
}

.hero .hero-container {
  color: white;
  padding-top: 5em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  text-transform: uppercase;
}

.hero .hero-down {
  margin-top: 21em;
}

.hero .hero-down p {
  color: #e8e8f0;
  letter-spacing: 0.09rem;
  margin-bottom: 0.5em;
}

.hero .chevron-down img {
  margin-bottom: 0.5em;
}

.grid-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7em auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5em;
}

.grid-container .thumb {
  margin: 0;
  width: 100%;
}

footer {
  background: #0e1620;
  text-align: center;
  color: white;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-top: 0.8em;
  margin-bottom: 1em;
}

footer .footer-top h2 {
  font-weight: normal;
  padding-top: 0.09em;
  margin: 0;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

footer .footer-top h3 {
  padding-left: 0.5em;
  font-weight: bold;
  margin: 0;
  color: #6bd8d1;
  letter-spacing: 0.05em;
  font-size: 1.1rem;
}

footer .footer-bottom {
  background-color: black;
  padding-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

footer .footer-bottom h4 {
  margin: 0;
  font-weight: normal;
  font-size: 0.6rem;
  letter-spacing: 0.15em;
}

footer .footer-bottom .arrow-top {
  margin-left: 0.5em;
}

footer .footer-bottom .arrow-top img {
  padding-bottom: 0.4em;
}

@media only screen and (min-width: 900px) {
  .nav-bar {
    width: 80%;
    margin: 0 auto;
  }
  .nav-bar .menu-icon {
    display: none;
  }
  .nav-bar .cross-icon {
    display: none;
  }
  .nav-bar .nav-items {
    display: block;
  }
  .nav-bar .nav-items ul {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    background: none;
    text-align: right;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .nav-bar .nav-items ul li {
    float: left;
  }
  .nav-bar .nav-items ul li a {
    margin: 0 1.5em;
    padding: 0;
    font-size: 1.1rem;
  }
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/static/photos/hero-bg.png") no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/photos/hero-bg.png") no-repeat;
    background-size: cover;
    background-position: 0% 40%;
  }
  .hero .hero-container {
    width: 80%;
    margin: 0 auto;
  }
  .hero .hero-container .hero-left {
    text-align: left;
  }
  .hero .hero-container .hero-left h1 {
    font-size: 4rem;
  }
  .hero .hero-container .hero-left h1 span {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */