@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$theme_blue: #0e1620;
$back_color: #e8e8f0;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: $back_color;
  min-height: 100%;
}

.nav-container {
  background-color: $theme_blue;
  padding: 0.5em;

  .nav-items {
    display: none;

    ul {
      position: fixed;
      background-color: $theme_blue;
      z-index: 50;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      list-style-type: none;
      text-align: center;
      box-sizing: border-box;
      padding: 1em;
      margin: 0;

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 1em;
        font-size: 1.5em;
        text-decoration: dashed;
        transition: color 0.5s;
      }

      a:hover {
        color: #6bd8d1;
      }
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
  }

  .cross-icon {
    display: block;
    margin-left: auto;
    margin-bottom: 5em;
    cursor: pointer;
  }

  .menu-icon {
    display: block;
    margin-right: 0.8em;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .logo:hover {
    cursor: pointer;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/static/photos/hero-mob-2.png") no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    margin: 0;
    font-size: 3.1rem;
    letter-spacing: 0.1em;

    span {
      display: block;
      color: #1abdb3;
      font-weight: normal;
      font-size: 1.1rem;
      letter-spacing: 0.8em;
      margin-top: -0.2em;
    }
  }

  .hero-container {
    color: white;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    text-transform: uppercase;
  }

  .hero-down {
    margin-top: 28em;

    p {
      color: $back_color;
      letter-spacing: 0.09rem;
      margin-bottom: 0.5em;
    }
  }

  .chevron-down img {
    margin-bottom: 0.5em;
  }
}

.grid-container {
  text-align: center;
  justify-content: center;
  margin: 7em auto;
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5em;

  .thumb {
    margin: 0;
    width: 100%;
  }
}

footer {
  background: $theme_blue;
  text-align: center;
  color: white;

  .footer-top {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 0.8em;
    margin-bottom: 1em;

    h2 {
      font-weight: normal;
      padding-top: 0.09em;
      margin: 0;
      letter-spacing: 0.05em;
      font-size: 1rem;
    }

    h3 {
      padding-left: 0.5em;
      font-weight: bold;
      margin: 0;
      color: #6bd8d1;
      letter-spacing: 0.05em;
      font-size: 1.1rem;
    }
  }

  .footer-bottom {
    background-color: black;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    h4 {
      margin: 0;
      font-weight: normal;
      font-size: 0.6rem;
      letter-spacing: 0.15em;
    }

    .arrow-top {
      margin-left: 0.5em;

      img {
        padding-bottom: 0.4em;
      }
    }
  }
}

// about.html css
.about-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  h1 {
    padding: 0;
    margin: 0;
    margin: 1em auto 0.5em auto;
    font-size: x-large;
  }
  .about-content {
    img {
      margin-top: 1em;
    }
    p {
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: justify;
    }
  }
}

.contact-container {
  .contact-form {
    input[type="email"],
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;
      resize: vertical;
      margin-bottom: 1em;
      font-family: Poppins, sans-serif;
    }
    .row {
      display: block;
      margin: 0 auto;

      .col-25 {
        text-align: left;
      }
    }

    button {
      background-color: $theme_blue;
      color: $back_color;
      border-radius: 10px;
      width: 100%;
      font-weight: bold;
      padding: 10px;
      border: none;
      font-family: Poppins, sans-serif;
      font-size: 01rem;
      transition: background-color 0.5s, color 0.5s;
      margin-bottom: 3em;
    }

    button:hover {
      background-color: #6bd8d1;
      color: black;
    }
  }
}

// gallery css
.header {
  text-align: center;
}

.gallery-container {
  margin: 0 auto;
  margin-bottom: 5em;
  width: 90%;

  p {
    padding: 0;
    margin: 1.5em 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.gallery-row {
  align-items: center;
  justify-content: center;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  box-sizing: border-box;
  // padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  padding: 0 4px;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  margin: 0;
}

.gallery-column img {
  margin: 4px 0;
  vertical-align: middle;
  width: 100%;
  transition: 0.3s filter;
}

.gallery-column img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

// custom scroll-bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $theme_blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6bd8d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6bd8d1c5;
}

@media only screen and (min-width: 900px) {
  .nav-bar {
    width: 80%;
    margin: 0 auto;

    .menu-icon {
      display: none;
    }

    .cross-icon {
      display: none;
    }

    .nav-items {
      display: block;

      ul {
        position: inherit;
        display: flex;
        width: auto;
        background: none;
        text-align: right;
        height: auto;
        margin: 0;
        padding: 0;

        li {
          float: left;

          a {
            margin: 0 1.5em;
            padding: 0;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/static/photos/hero-bg.png") no-repeat;
    background-size: cover;
    background-position: 0% 40%;

    .hero-container {
      width: 80%;
      margin: 0 auto;

      .hero-left {
        text-align: left;

        h1 {
          font-size: 4rem;

          span {
            font-size: 1.3rem;
            letter-spacing: 1.2rem;
          }
        }
      }
    }
  }

  .about-container {
    text-align: left;

    h1 {
      font-size: xx-large;
      margin-top: 3em;
    }

    .about-content {
      display: flex;

      img {
        order: 2;
        margin: 0;
      }

      p {
        margin: 0%;
        padding-right: 4em;
      }
    }

    .col-25 {
      width: 25%;
      float: left;
    }

    .col-75 {
      width: 75%;
      float: left;
    }

    .contact-container {
      input[type="email"] {
        width: 220px;
        font-family: Poppins;
      }
      textarea {
        height: 200px;
        font-family: Poppins;
        width: 570px;
      }

      button {
        width: 200px;
        margin: 0;
      }

      p {
        margin-bottom: 4em;
      }
    }
    .contact-container:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .gallery-container {
    width: 80%;
  }
  // photo gallery CSS (2 columns)
  .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 48%;
  }
}

@media only screen and (min-width: 1700px) {
  .nav-bar {
    width: 65%;
  }

  .hero {
    .hero-container {
      width: 65%;
      margin: 0 auto;
    }
  }

  .grid-container {
    width: 65%;
  }

  .about-container {
    width: 65%;
  }

  .gallery-container {
    width: 80%;
  }
  // photo gallery CSS (4 columns)
  .gallery-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 24%;
  }
}
