{% extends "layout.html" %} {% block title %} About {% endblock %} {% block main
%}
<div class="about">
  <div class="about-container">
    <h1>About me</h1>
    <div class="about-content">
      <img src="/static/photos/potrait.jpg" alt="hello" />
      <p>
        Hi, my name is Mubashir and I am based in Jeddah, Saudi Arabia. I am a
        Computer Science student studying at the University of Nottingham
        Malaysia. With that being said, automotive photography is a
        hobby/passion that I hope to pursue for many years to come.<br /><br />
        I have always had a strong affinity for car and photography growing up
        but it wasn't until a few years ago that I decided to merge my two
        passions together. Since starting, I have enjoyed taking photos for
        numerous private individuals and a few companies and events and so if
        you have any inquiries, please feel free to contact me!
      </p>
    </div>
    <div class="contact-container">
      <h1>Contact me</h1>
      <div class="contact-form">
        <form
          id="my-form"
          action="https://formspree.io/f/xlezrgpk"
          method="POST"
        >
          <div class="row">
            <div class="col-25"><label>Email:</label></div>
            <div class="col-75">
              <input
                type="email"
                placeholder="Your email"
                name="email"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-25"><label>Message:</label></div>
            <div class="col-75">
              <textarea
                name="message"
                placeholder="Say something..."
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-25">&nbsp;</div>
            <div class="col-75">
              <button id="my-form-button">Submit</button>
            </div>
          </div>
          <div class="col-25">&nbsp;</div>
          <div class="col-75">
            <p id="my-form-status"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
