{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}

<div class="gallery">
  <div class="gallery-container">
    <div class="header">
      <p>Porsche Carrera GT</p>
    </div>

    <!-- Photo Grid -->
    <div class="gallery-row">
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img class="myImages" id="myImg" src="../static/photos/r8.jpg" />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-3.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/hero-mob-2.png"
        />
      </div>
      <!-- modal div for when image is clicked -->
      <div id="myModal" class="modal">
        <span class="close"
          ><img src="../static/photos/cross-icon.svg" alt="close icon"
        /></span>
        <img class="modal-content" id="modalImg" />
      </div>
    </div>
  </div>
</div>

<script>
  // to handle the modal views when images are clicked

  // gets the modal div
  var modal = document.querySelector("#myModal");
  // gets all the images in the gallery
  var images = document.querySelectorAll(".myImages");
  // gets the empty image tag where image are to be inserted
  var modalImg = document.querySelector("#modalImg");

  for (var i = 0; i < images.length; i++) {
    var img = images[i];

    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
    };
  }

  var span = document.querySelectorAll(".close")[0];

  span.onclick = function () {
    modal.style.display = "none";
  };
</script>
{% endblock %}
