{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}

<div class="gallery">
  <div class="gallery-container">
    <div class="header">
      <p>Ferrari F8 Spyder</p>
    </div>

    <!-- Photo Grid -->
    <div class="gallery-row">
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0003.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0054.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0008.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0009.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0012.jpg"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0021.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0023.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0025.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0029.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0033.jpg"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0037.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0039.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0043.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0044.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0051.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0036.jpg"
        />
      </div>
      <div class="gallery-column">
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0062.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0015.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0055.jpg"
        />
        <img
          class="myImages"
          id="myImg"
          src="../static/photos/F8-spyder/DSC_0019.jpg"
        />
      </div>
      <!-- modal div for when image is clicked -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg" />
      </div>
    </div>
  </div>
</div>

<script>
  // to handle the modal views when images are clicked

  // gets the modal div
  var modal = document.querySelector("#myModal");
  // gets all the images in the gallery
  var images = document.querySelectorAll(".myImages");
  // gets the empty image tag where image are to be inserted
  var modalImg = document.querySelector("#modalImg");

  for (var i = 0; i < images.length; i++) {
    var img = images[i];

    img.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
    };
  }

  var span = document.querySelectorAll(".close")[0];

  span.onclick = function () {
    modal.style.display = "none";
  };
</script>
{% endblock %}
