{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>Art First <span>Photos later</span></h1>
    </div>
    <div class="hero-down">
      <p>Scroll down</p>
      <a href="#" class="chevron-down"
        ><img src="static/photos/chevron-down.svg" alt="icon of chevron down"
      /></a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="grid-container">
    <a class="grid-1" href="/cgt"
      ><img
        class="img-1 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-2" href="#"
      ><img
        class="img-2 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-3" href="#"
      ><img
        class="img-3 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-4" href="#"
      ><img
        class="img-4 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-5" href="#"
      ><img
        class="img-5 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-6" href="#"
      ><img
        class="img-6 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-7" href="#"
      ><img
        class="img-7 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-8" href="#"
      ><img
        class="img-8 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
    <a class="grid-9" href="#"
      ><img
        class="img-9 thumb"
        src="static/photos/DSC_0351.jpg"
        alt="image of car"
    /></a>
  </div>
</div>
{% endblock %}
