{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<div class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>Lorem, ipsum.<span>Lorem, ipsum.</span></h1>
    </div>
    <div class="hero-down">
      <a href="#grid"><p>Scroll down</p></a>
      <a href="#grid" class="chevron-down"
        ><img src="static/photos/chevron-down.svg" alt="icon of chevron down"
      /></a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="grid-container" id="grid">
    <a class="grid-1" href="/458speciale"
      ><img
        class="img-1 thumb"
        src="static/photos/458-Speciale/dsc_0177-edit.jpg"
        alt="image of car"
    /></a>
    <a class="grid-2" href="/turboS"
      ><img
        class="img-2 thumb"
        src="../static/photos/blue-turbo-S/DSC_0132-2.jpg"
        alt="image of car"
    /></a>
    <a class="grid-3" href="/fordGT"
      ><img
        class="img-3 thumb"
        src="../static/photos/Ford-GT/DSC_0172-2.jpg"
        alt="image of car"
    /></a>
    <a class="grid-4" href="/gt2rs"
      ><img
        class="img-4 thumb"
        src="../static/photos/GT2RS/DSC_0038-Edit.jpg"
        alt="image of car"
    /></a>
    <a class="grid-5" href="f8spyder"
      ><img
        class="img-5 thumb"
        src="../static/photos/F8-spyder/DSC_0046.jpg"
        alt="image of car"
    /></a>
    <a class="grid-6" href="675lt"
      ><img
        class="img-6 thumb"
        src="/static/photos/white-675LT/DSC_0072.jpg"
        alt="image of car"
    /></a>
    <a class="grid-7" href="/turboes"
      ><img
        class="img-7 thumb"
        src="/static/photos/turbo-S-ES/DSC_0089.jpg"
        alt="image of car"
    /></a>
    <a class="grid-8" href="/rcs"
      ><img
        class="img-8 thumb"
        src="/static/photos/RCS-2019/DSC_0410.jpg"
        alt="image of car"
    /></a>
    <a class="grid-9" href="/gt3"
      ><img
        class="img-9 thumb"
        src="/static/photos/GT3/DSC_0096.jpg"
        alt="image of car"
    /></a>
  </div>
</div>
{% endblock %}
